.container {
    border: 1px solid darkgreen;
    max-width: 500px;
    padding: 5px;
}

.header {
    border: 1px solid darkblue;
    color: darkblue;
    font-size: 50px;
    text-align: center;  
    margin: 0 auto 5px;
}

.main {
    text-align: center;
    border: 1px solid darkblue;
}

.chat {
    min-height: 300px;
    max-height: 300px;
    overflow: auto;
    border: 1px solid darkred;
    margin: 5px;
}

ul {
    padding: 0;
    margin: 10px;
}

.enter {
    margin: 15px auto;
}

.message {
    list-style-type: none;
    position: relative;
}

.message:hover {
    background: lightgray;
}

.message > div {
    text-align: left;
}

button {
    color: green;
}

.delete_button,
.edit_button {
    display: none;
    position: relative;
}

.message:hover > div > .delete_button,
.message:hover > div > .edit_button,
.cancel_button,
.enter_button {
    display: inline-block;
    left: 20px;
}

.delete_button:before,
.cancel_button::before {
    content: "\2718";
    color: darkred;
}



.edit_button:before {
    content: "\270E";
    color: darkgreen;
}

.enter_button:before {
    content:"\2714";
    color: darkgreen;
}

.username,
.text {
    display: inline;
}

.username {
    font-weight: bold;

}

.text {
    font-weight: normal;
}


